
  .container{
    cursor: pointer;
    position: relative;
    }
  .container :hover{
    background-color:#f0fff0;
    transform: translate(1px, 1px);
    transition: 0.1s;
  }
  .me {
    z-index: 1;
    text-decoration: none;
  }
  .main-row {
    margin:16px;
    background-color:white;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.05);
    border-radius: 0.5rem;
    width: 100%;
    justify-content: center;
      
  }
  
  
  
  .blog-date span{
    color: #5ECCA9;
    font-size:10px;
  }
  
  
  .blog-title > h2 {
    font-style: normal;
    font-weight:400;
  }
  .blog-desc > p{
    font-style: san-serif;
    line-height: 1.2;
    color:#1a1a1a;
  
  }
  .bt {
    background-color: #5ECCA9;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 12px;
  }
  
  .bt7 {background-color: #e7e7e7; 
        color: black;
        padding: 10px 16px;
        margin:3px;
        border-radius: 12px;
        border: none;
      }
  
  
  .bt7:hover {
    background-color:#6be8c0;
    transition: 0.7s;
  }
  .top{
    justify-content: center;
  
  }
  select {
   
    border:0!important;
    background: #5c;
    background-image: none;
    flex: 3;
    padding: 0 .5em;
    color:#000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
   
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
  }
  .select::after {
    content: '\25Bc';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #5ECCA9;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
  }
  .select:hover::after {
    color: white;
  }
  
  