{%extends 'base.html'%}
{% load hitcount_tags %}
{% load static %}
<link  rel="stylesheet" href="{% static 'css/prism.css'%}">




{%block content %}

<div class="blog-details justify-centre">
  
    <div class="det">
        <strong>
            {{post.tittle |safe }}
        </strong>
        <br />
        
          {{post.description|safe}}
        <br/>
        <small> 
            <small> 
                <small>By:
            {{post.author.first_name}} {{post.author.last_name}}-
            {{post.post_date}}
                </small>
            </small>
        </small>
    
    </div>
    
<hr/>
<br/>

    
        {{post.body|safe}}
    </div>



</div>


<style>
.blog-details {
    margin: 0 auto;
    text-align: left;
    width: 60%; /* optional: set the width of the element */
  }
.det{

    text-align: center;
}



</style>
  
{%endblock%}    