{%extends 'base.html'%}
{% load hitcount_tags %}
{% load static %}
<link  rel="stylesheet" href="{% static 'css/prism.css'%}">

{% block tittle%}{{post.tittle}} {% endblock%}
<script src="{% static 'js/prism.js'%}"></script>

{%block content %}
<img src="{{post.image.url}}" alt="profile" class="img-fluid" />
<strong>
    {{ post.title }}
</strong>
    
<div class="content-markdown">
    {{post.body|safe }}
</div>
<small> 
    <small> 
        <small>By:
    {{post.author.first_name}} {{post.author.last_name}}-
    {{post.post_date}}
        </small>
    </small>
</small>
  



{%endblock%}    