{%extends 'base.html'%}
{% load hitcount_tags %}
{% load article_utils %}
{% load static %}
<link  rel="stylesheet" href="{% static 'css/prism.css'%}">

{%block head%}
        {% if post.slug in request.path %}
        <meta name="twitter:card" content="summary_large_image" />
        <title>{{post.title |striptags|escape}}</title>
        <meta property="og:title" content="{{post.title |escape|striptags}}">
        <meta property="og:url" content="http://www.theaibunny.com/{{Post.slug}}" >
        
        <meta property="og:description" content="{{post.description|striptags|escape|truncatechars:100}}">
        
        <meta property="og:image" content="{% static 'images/og.jpg'%}">
        

        <title>{{post.title}}</title>
        <meta name="twitter:card" content="summary_large_image" />

        {% endif %}

        <meta name="twitter:creator" content="@TheAIbunny" />
        <meta name="twitter:site" content="www.theaibunny.com" />
{%endblock%}


{%block content %}

<div class="blog-details justify-centre col-md-12 col-sm-12">
  
    <div class="det">
        <strong>
            {{post.tittle |safe }}
        </strong>
        <br />
        
          {{post.description|safe}}
    <br/>
        <small> 
            <small> 
                <small> 
                    <span class="time-span"> {{post.post_date}} |  
                        <i class="fa-sharp fa-solid fa-clock"></i>
                        {{post.body|readtime}} | {% get_hit_count for post%}         
                        <i class="fa-sharp fa-solid fa-eye"></i> | <i class="fa-solid fa-tag"></i>{{post.category}}</span>         
                    
      
                </small>
            </small>
        </small>
       
    </div>
    
<hr/>
<br/>
    {{post.body|safe}}

    <br/>
    <div class='container' >
        <div class="row main-row p-1" >
        Share this article on twitter
        <div class="btn">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Checkout this machine learning blog it&#39;s very informative" data-via="TheAIbunny" data-hashtags="ML #dataengineering #AI #MLblogs" data-related="TheAIbunny,TheAIbunny" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        </div>
    </div>

    </div>
</div>

    

</div>


<style>
.container {
    align:center;
    display: flex;
    margin:auto;
    background-color:#f0fff0;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.05);
    border-radius: 0.5rem;
    width: 50%;
    padding: 0px 30px;
    text-align: center;
}
.main-row {
    text-align: center;
    justify-content: center;
      
}
  
.blog-details {
    margin: 0 auto;
    text-align: justify;
    line-height: 1.7;
    width: 72%; /* optional: set the width of the element */
    text-color: #000000;
  }
.det{

    text-align: center;
}

.time-span{
    color: #5ECCA9;
    font-size:10px;
  }
  



</style>
  
{%endblock%}    