<!DOCTYPE html>
<html lang="en"> 
<head>
	{% load static%}
    <title>{%block tittle%}
		AIbunny
		   {%endblock%}
	</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no">
    <meta name="MLOps" content="how to handle machine learning programms in production">
    <link rel="icon" href="{% static 'images/profile.svg'%}" type="image/svg+xml">
	<meta name="Machine Learning Blog" content="Learn more about recent ML trends and how to write simple machine learning programs">
	<meta name="Data Engineering" content="Learn more about recent Data engineering trends and best practices in the field ">
	<meta name="No Sql" content="Learn more about recent Data engineering trends and best practices in the field ">
	<meta name="AI blogs" content="Learn more about recent Artificial Intelligence trends and best practices in the field ">
	<meta name="Artificial Intelligence " content="Learn more about recent AI trends and best practices in the field ">
	
	
	<meta property="twitter:site_name" content="theaibunny.com">
	<meta property="twitter:title" content="TheAIbunny" />
	<meta property="twitter:description" content="Machine learning blogs and may others" />
	<meta property="twitter:url" content="https://aibunny-production.up.railway.app/" />
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:type" content="website" />
	<meta property="og:image" itemprop="image" content="{% static 'images/profile.svg'%}">


	
		
		
	
	
	<!-- prism css-->
	<link  rel="stylesheet" href="{% static 'css/prism.css'%}">
	<!--prism js-->
	<script src="{% static 'js/prism.js'%}"></script>
	<!--Highlight js-->
	
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- FontAwesome JS-->
	<script defer src="{% static 'fontawesome/js/all.min.js'%}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'css/theme-4.css'%}">

</head> 

<body>
    
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html">AI bunny</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'images/profile.gif'%}" alt="image" >			
					
					<div class="bio mb-3">Hi, my name is Fredrick Waihenya aka Bunny. I'm an ML 🧠 and AI 🤖 Engineer. I will be using this app to document my learning journey.
						.<br></div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://twitter.com/TheAIbunny"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/fredrickwaihenya/"><i class="fa-brands fa-linkedin-in"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/Fredrick-waihenya"><i class="fa-brands fa-github"></i></a></li>
			        
					</ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-start">
					<li class="nav-item">
					    <a class="nav-link active" href="{%url 'home'%}"><i class="fas fa-home fa-fw me-2"></i> Home <span class="sr-only">(current)</span></a>
					</li>
					
					<li class="nav-item">
					    <a class="nav-link" href="mailto:waihenyafredrick@gmail.com"><i class="fas fa-user fa-fw me-2"></i>Get in Touch</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
				    <form action="https://www.paypal.com/donate" method="post" target="_top">
						<input type="hidden" name="hosted_button_id" value="BAG7B9S32UFUG" />
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
						<img alt="" border="0" src="https://www.paypal.com/en_KE/i/scr/pixel.gif" width="1" height="1" />
						</form>
						
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
	   <!-- 
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">DevBlog - A Blog Template Made For Developers</h2>
			    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			    <div class="single-form-max-width pt-3 mx-auto">
				    <form class="signup-form row g-2 g-lg-2 align-items-center">
	                    <div class="col-12 col-md-9">
	                        <label class="sr-only" for="semail">Your email</label>
	                        <input type="email" id="semail" name="semail1" class="form-control me-md-1 semail" placeholder="Enter email">
	                    </div>
	                    <div class="col-12 col-md-2">
	                        <button type="submit" class="btn btn-primary">Subscribe</button>
	                    </div>
	                </form>
			    </div>
		    </div>
	    </section 
	    -->
	    
		   
		  {%block content %}
		  
		 
		  {% endblock %}
		<section class="blog-list px-3 py-5 p-md-5">
			    
			    <!-- <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>  -->  
				
		    </div>
	    </section>
	    
	    
	
    </div><!--//main-wrapper-->

       
    <!-- Javascript -->     
	<script src="lolight.min.js"></script>     
    <script src="{% static 'plugins/popper.min.js'%}"></script> 
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.2.4/marked.min.js" integrity="sha512-nwWBb9WFoP7Q0hkeTjUPmHkkYLnmYgYnZ8PvQVVL2XJ9RLCGuLqKe86bhmZ3CJXGU8F777uuPkDQTkZ2qAuyvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".content-markdown").each(function(){
			var content = $(this).text()
			console.log(content)
			var markedContent = marked(content)
			console.log(markedContent)
			$(this).html(markedContent)
			})
	})
	</script>

    

</body>
</html> 

