{%extends 'base.html'%}
{% load hitcount_tags %}
{% load article_utils %}


{%block content %}

{%for post in post_list %}


<a class= "me" style="text-decoration: none" href ={%url "article-detail" post.pk%}>
  <div class="container">
    
    <div class="row main-row p-1" >
        
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="blog-title mb-3">
                <h3> {{post.tittle |safe }} </h3>
            </div>
            <div class="blog-date mb-2">
                <span> {{post.post_date}} |  
                  <i class="fa-sharp fa-solid fa-clock"></i>
                  {{post.body|readtime}} s| {% get_hit_count for post%}         
                  <i class="fa-sharp fa-solid fa-eye"></i> | <i class="fa-solid fa-tag"></i>{{post.category}}</span>
                  
            </div>
            <div class="blog-desc mb-2">
                <p> {{post.description|safe}}</p>
            </div>
            
          
    </div>
  </div>
  </a>
  </div>
  
  
  <style>
  .container{
    cursor: pointer;
    position: relative;
    }
  .container :hover{
      background-color:#f0fff0;
      transform: translate(1px, 1px);
      transition: 0.1s;
    }
  .me {
    z-index: 1;
    text-decoration: none;
  }
  .main-row {
    margin:16px;
    background-color:white;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.05);
    border-radius: 0.5rem;
    width: 100%;
    justify-content: center;
      
  }
  
  
  
  .blog-date span{
    color: #5ECCA9;
    font-size:10px;
  }
  
  
  .blog-title > h2 {
    font-style: normal;
    font-weight:400;
  }
  .blog-desc > p{
    font-style: san-serif;
    line-height: 1.2;
    color:#1a1a1a;
  
  }
  .bt {
    background-color: #5ECCA9;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 12px;
  }
  
  .bt7 {background-color: #e7e7e7; 
        color: black;
        padding: 10px 16px;
        margin:3px;
        border-radius: 12px;
        border: none;
      }
  
  
  .bt7:hover {
    background-color:#6be8c0;
    transition: 0.7s;
  }
  .top{
    justify-content: center;
  
  }
</style>
{%endfor %}
{%endblock%}

