
{%extends 'base.html'%}
{%block content %}
{%for post in object_list %}
<ul>
    <li>
    {{post.tittle | safe}} 
<p>   
    <small>
      <small> 
          <small>
              <small>
    {{post.post_date}}
      </li>
              </small>
          </small>
        </small>
      </small>
</p>
        <li>
          {{post.body |safe| slice:":350"}} 
          <small>
            <a href = {%url "article-detail" post.pk%}>
              Read more
            </a>
          </small>
        </li>
    </ul>
{%endfor %}
{%endblock%}
#make sure blogs are reflective to categories