
{%extends 'base.html'%}
{%block content %}
{%for post in object_list %}
<ul>
    <li>
    {{post.tittle | safe}} 
         
   <small>
     <small> 
        <small>
            <small>
    {{post.author.first_name}} {{post.author.last_name}}  {{post.post_date}}
    </li>
             </small>
        </small>
      </small>
    </small>
        <li>
          {{post.body |safe| slice:":350"}} 
          <small>
            <a href = {%url "article-detail" post.pk%}>
              Read more
            </a>
          </small>
        </li>
    </ul>
{%endfor %}
{%endblock%}
