
{%extends 'base.html'%}
{%block content %}
{%for post in object_list %}
{% load static%}


<section>
    {{post.tittle | safe}} 
<p>   
    <small>
      <small> 
          <small>
              <small>
    {{post.post_date}}
               </small>
          </small>
        </small>
      </small>
</p>
        
          {{post.body |safe| slice:":350"}} 
          <small>
            <a href = {%url "article-detail" post.pk%}>
              Read more
            </a>
          </small>
        
</section>
<br />
<style>
section {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  flex:200px;
  justify-content: space-around;
  border: 0px solid grey;
}

</style>

{%endfor %}
{%endblock%}
